@model OnceUploadedViewModel

<div class="row">
    <div class="col-md-8 offset-md-2 bg-light p-4 rounded shadow">
        <h3>
            Thank you for uploading your images,
            here's the link to share with your friends:
            <br /><br />
            <a href="http://localhost:5090/home/viewimage?id=@Model.ImageID">
                Click here to view image
            </a>
            <br /><br />

            Make sure to give them the password of "@Model.Password"
        </h3>
    </div>
</div>
